/*color pallette
warm orange - #FFBB74
cool blue - #74749C
*/


body {
    font-family: 'Merriweather Sans', sans-serif;
    margin: auto;
    margin-bottom: 15px;
    min-width: 800px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 2em;
    color: #FFBB74;
}

h2 {
    font-size: 1.8em;
    color: #FFBB74;
}

h3 {
    font-size: 1.3em;
    color: #FFBB74;
}

h4 {
    font-size: 1em;
    color: #FFBB74;
}

h5 {
    font-size: 0.8em;
    color: #FFBB74;
}

h6 {
    font-size: 0.7em;
    color: #FFBB74;
}

b {
    font-style: bold;
}

small {
    font-size: 0.8em;
}

header {
    background: #4E5961;
    color: white;
    height: 50px;
}

header h1 {
    text-indent: -9999px;
}

aside{
    width: 150px;
    display: table-row;
    background: #74749C;
    color: black;
    text-transform: uppercase;
    min-height: 100%;
    float: left;
    position: relative;

}

#main-content {
    display: inline-block;
    height: 375px;
    width: 100%;
}

nav li {
    padding: 15px;
}

nav li:hover {
    background: gray;
}

#hero {
    background: url('../images/heroImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    height: 250px;
    width: 100%;
    background-position: top-right;

}

#hero h2 {
    text-indent: -9999px;
}

#hero h3 {
    display: block;
    color: black;
    float: right;
    width: 330px;
    height: 200px;
    text-transform: uppercase;
}

#about {
    height: 250px;
    margin-top: 10px;
    display: block;
}

.headshot {
    border-radius: 50%;
    height: 150px;
    margin: 15px;
    display: inline;
}
.resume {
    border: 1px solid   black;
    border-radius: 2px;
    margin: auto;
    margin-top: 25px;
    height: 20px;
    width: 150px;
    padding: 15px;
    text-align: center;
}

.resume:hover {
    background: grey;
    color: black;
}

.projects {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;;
    justify-content: center;
    flex-wrap: wrap;
}

#content-container {
    height: 100%;
}

.card{
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 300px;
    box-shadow: 5px;
}
.card img {
    margin: auto;
}

.card:hover {
    transform: scale(1.05);
}

.card p {
    margin-top: 10px;
    line-height: 1.2em;
}

.container {
    padding: 2px 15px;
    margin: auto;
}
.container h4{
    text-align: center;
}
.project title {
    font-size: 10em;
}

p.project-description {
    margin-top: 10px;
    font-size: .8em;

}
#testimonials {
    margin-top: 10px;
}

article.testimonial {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.2em;
    width: 320px;
}

footer {
    background: #4E5961;
    height: 50px;
    width: 100%;
}
footer h2{
    text-indent: -9999px;
}


.social {
    color: #FFBB74;
}

.social li {
    display: inline-block;
    float: right;
    padding: 2px;
}

.social a:hover {
    color: white;
}

.social li img {
    height: 30px;
}
